* text=auto

*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Treat Grasshopper and Rhino documents as binary files.
*.gh binary
*.ghx text eol=lf
*.3dm binary
